<section>
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px"
          #loginInfo="ngForm" (ngSubmit)="onLogin(loginInfo)">
        <mat-form-field>
            <input type="email"
                    matInput 
                    placeholder="Your email" 
                    ngModel name="email" #emailInput="ngModel"
                    email required>
            <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
            <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" 
                    matInput
                    placeholder="Your password" 
                    ngModel name="password" #pwInput="ngModel"
                    required>
        </mat-form-field>
        <button *ngIf="!isLoading" 
                type="submit" 
                mat-raised-button 
                color="primary"
                [disabled]="loginInfo.invalid">
            Submit
        </button>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </form>
</section>