<section>
    <form fxLayout="column" fxLayoutAlign="center center" 
          #userInfo="ngForm" (ngSubmit)="onSubmit(userInfo)">
        <mat-form-field>
            <input type="email"
                    matInput 
                    placeholder="Your email" 
                    ngModel name="email" #emailInput="ngModel"
                    email required>
            <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
            <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid.</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Should be at least 6 characters long.">
            <input type="password" 
                    matInput
                    placeholder="Your password" 
                    ngModel name="password" #pwInput="ngModel"
                    required minlenght="6">
            <mat-error>Has to be at least 6 bcharacter long.</mat-error>
            <mat-hint align="end"> {{pwInput.value?.length}} / 6 </mat-hint>
        </mat-form-field>
        <mat-form-field hintLabel="You must have at least 18 years old.">
            <input matInput
                    placeholder="Your birthdate"
                    [matDatepicker]="birthPicker"   
                    [max]="maxDate">
            <mat-datepicker-toggle matSuffix [for]="birthPicker"></mat-datepicker-toggle>
            <mat-datepicker #birthPicker></mat-datepicker>
        </mat-form-field>
        <mat-checkbox color="primary" 
                      ngModel name="agree" 
                      required>
            Agree to Terms and Conditions.
        </mat-checkbox>
        <button type="submit" mat-raised-button color="primary">Submit</button>
    </form>
</section>